.todoItemContainer {
  background-color: white;
  box-shadow: 0rem 0.5rem 0.6875rem -0.5rem rgba(34, 60, 80, 0.9);
  margin-bottom: 0.9375rem;
  width: 100%;
  padding: 1.5625rem 1.25rem;
  border-radius: 0.3125rem;
}

.todoItemTitle {
  font-size: 1.5625rem;
  font-weight: 600;
  margin-bottom: 0.9375rem;
  cursor: pointer;
}

.todoItemDescription {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.9375rem;
}

.todoItemButtonContainer {
  display: flex;
  justify-content: right;
  gap: 0.3125rem;
}
